@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');

.navbar-brand {
    font-family: 'Rubik Dirt', cursive;
    font-size: x-large;
}

.nav-item {
    font-family: 'Rubik Dirt', cursive;
    font-size: large;
}